[submodule "third_party/MobileSAM"]
	path = third_party/MobileSAM
	url = https://github.com/ChaoningZhang/MobileSAM.git
[submodule "third_party/Cutie"]
	path = third_party/Cutie
	url = https://github.com/hkchengrex/Cutie.git
[submodule "third_party/segment-anything-2"]
	path = third_party/segment-anything-2
	url = https://github.com/facebookresearch/segment-anything-2.git
